body {
	font-family: "Helvetica";
}

#hangman {
	width: 200px;
	height: 200px;
	border: 1px solid black;
}

.top-display {
	border: 1px solid black;
	width: 90%;
	margin: 10px auto;
}

.displayed-word {
	font-size: 1em;
}

.lives-left {
}

.message {
}


.buttons-section {
	border: 1px solid black;
	width: 90%;
	margin: 10px auto;
}

.letter-button {
	width: 15%;
	margin: 1px;
}

