body {
	text-align:center;
	
}

.container {
	width: 300px;
	margin: auto;
	background-color: #eee;
}

#hangman {
	width: 280px;
	height: auto;
	margin: auto;
	border: 1px solid black;
}

.top-display {
	border: 1px solid black;
	width: 90%;
	margin: 10px auto;
	background-color: white;
}

.displayed-word {
	font-size: 1em;
}

.lives-left {
	
}

.message {
}


.buttons-section {
	border: 1px solid black;
	width: 90%;
	margin: 10px auto;
}

.letter-button {
	width: 15%;
	margin: 1px;
}

